# cron-comparison

Test/benchmark of all javascript cron implementations

## Running

Run tets and show output in console

`npm run test`

Run tests and update readme with results

`npm run update-readme`

## Latest results
